<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galaxygame.cavenjoy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAVProject"
        android:usesCleartextTraffic="true">
        <activity android:name="com.galaxygame.cavenjoy.WebViewActivity"></activity>
        <activity android:name="com.galaxygame.cavenjoy.MovieActivity" />
        <activity
            android:name="com.galaxygame.cavenjoy.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <activity
            android:name="com.galaxygame.cavenjoy.MovieDetails"
            android:screenOrientation="portrait" />
        <activity android:name="com.galaxygame.cavenjoy.SignUpActivity" />
        <activity
            android:name="com.galaxygame.cavenjoy.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.galaxygame.cavenjoy.SignInActivity" />
        <activity
            android:name="com.galaxygame.cavenjoy.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appID" />
    </application>

</manifest>